In [3]:
import pandas as pd
import numpy as np
import matplotlib as mlb

In [7]:
df = pd.read_csv("china_082019_1_tweets_csv_hashed.csv")

C:\Users\1\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (15,19,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.head()

,tweetid,userid,user_display_name,user_screen_name,user_reported_location,user_profile_description,user_profile_url,follower_count,following_count,account_creation_date,...,latitude,longitude,quote_count,reply_count,like_count,retweet_count,hashtags,urls,user_mentions,poll_choices
0,436306424587890688,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,NaN,100847,31752,2010-10-22,...,absent,absent,0.0,0.0,1.0,0.0,NaN,NaN,[443196382],NaN
1,582682975969624064,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,NaN,100847,31752,2010-10-22,...,absent,absent,0.0,0.0,0.0,52.0,[],['http://goo.gl/32K38q'],[],NaN
2,582997936541278208,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,NaN,100847,31752,2010-10-22,...,absent,absent,0.0,0.0,0.0,0.0,[],[],[116351908],NaN
3,580404049901670400,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,NaN,100847,31752,2010-10-22,...,absent,absent,0.0,0.0,0.0,0.0,[],['http://goo.gl/iC1GM9'],[],NaN
4,199007241142149121,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,NaN,100847,31752,2010-10-22,...,absent,absent,0.0,0.0,0.0,0.0,NaN,['http://migre.me/8Ycqm'],NaN,NaN

In [10]:
df.shape

(1906831, 31)

In [11]:
df.describe()

,tweetid,follower_count,following_count,in_reply_to_tweetid,quoted_tweet_tweetid,retweet_tweetid,quote_count,reply_count,like_count,retweet_count
count,1.906831e+06,1.906831e+06,1.906831e+06,1.785020e+05,9.513300e+04,3.579360e+05,1.888906e+06,1.888906e+06,1.888906e+06,1.888906e+06
mean,7.206899e+17,2.444543e+04,1.350040e+04,5.869991e+17,8.621642e+17,6.013256e+17,7.288346e-03,8.859573e-02,4.557506e-02,1.496379e-01
std,2.729179e+17,2.948863e+04,9.531729e+03,3.471806e+17,8.568681e+16,2.745685e+17,4.159671e-01,9.644296e-01,1.644062e+00,3.454932e+00
min,8.126727e+08,0.000000e+00,0.000000e+00,8.237374e+08,1.847925e+15,1.792600e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.789587e+17,1.089500e+04,9.050000e+03,2.715412e+17,8.376187e+17,4.314172e+17,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,8.170222e+17,1.355300e+04,1.359200e+04,6.053735e+17,8.417812e+17,5.771102e+17,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,8.716381e+17,1.890000e+04,1.460600e+04,9.028863e+17,8.525281e+17,8.528084e+17,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.154216e+18,1.701550e+05,3.175200e+04,1.153504e+18,1.154193e+18,1.154179e+18,1.930000e+02,3.260000e+02,1.159000e+03,3.344000e+03